<tr>
<td>
	<%= post.id %>
</td>
<td>
	<%= post.date %>
</td>
<td>
	<%= post.user.full_name%>
</td>
<td>
	<%=link_to truncate(post.rationale), post_path(post) %>
</td>
<td>
	<%= status_label post.status %>
</td>
<td>
  <%= link_to '', edit_post_path(post), class:'glyphicon glyphicon-pencil' if post.status != 'approved' %>
</td>
<td>
  <%= link_to '', post_path(post), style:'color:red',method: :delete, class:'glyphicon glyphicon-trash', data: { confirm: 'Are you sure?'} %>
</td>
</tr>